<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="b2b_menu_main" name="B2B" sequence="100"/>
    <menuitem id="b2b_menu_general" name="General" parent="b2b_menu_main" sequence="10"/>
    <menuitem id="b2b_menu_settings" name="Settings" parent="b2b_menu_main" sequence="100"/>

    <menuitem id="b2b_menu"
              name="Connections"
              parent="b2b_menu_settings"
              action="business_2_business_action"
              sequence="1"
    />

</odoo>
