<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_external_fulfilment"
              name="Fulfilments"
              parent="external_connector.connector_menu_settings"
              action="external_fulfilment_action"
              sequence="50"
    />

    <menuitem id="menu_external_fulfilment_purchase"
              name="External Fulfilments"
              parent="purchase.menu_purchase_config"
              action="external_fulfilment_action"
              sequence="50"
    />

</odoo>
